<h1><%= @message.title %></h1>
<small>Posted by <%= @message.author %> <%= time_ago_in_words(@message.created_at) %> ago </small>
<h3><%= @message.description %></h3>

<h2>Comments:</h2>

<%= render @message.comments %>

<h3>Reply to Message:</h3>
<%= render "comments/form" %>

<% if user_signed_in? %>
    <% if @message.author == current_user.email %>
        <div><%= link_to "Edit message", edit_forum_message_path(@forum,@message)%></div>
        <div><%= link_to "Delete message", forum_message_path(@forum,@message), method: :delete, data: {confirm: "Are you sure you want to delete this important message?"}%></div>
    <% end %>
<% elsif company_signed_in? %>
    <%if @message.author == current_company.email %>
        <div><%= link_to "Edit message", edit_forum_message_path(@forum,@message)%></div>
        <div><%= link_to "Delete message", forum_message_path(@forum,@message), method: :delete, data: {confirm: "Are you sure you want to delete this important message?"}%></div>
    <% end %>
<% end %>
</div>
<div><%= link_to "Back to forum", forum_path(@forum)%></div>