<div class="padding-right">
  <% if user_signed_in? %>
    <h1>My Deadlines</h1>
  <% else %>
    <h1>Sign in to see your deadlines</h1>
  <% end %>
  
  <table>
    <tr>
      <th>Title</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Explanation</th>
      <th>Status</th>
    </tr>
  <% if user_signed_in? %>
    <% current_user.deadlines.each do |deadline| %>
      <tr>
        <td><%= deadline.deadline_title %></td>
        <td><%= deadline.start_date %></td>
        <td><%= deadline.end_date %></td>
        <td><%= deadline.explanation %></td>
        <td><%= deadline.status %></td>
        
        <td><%= link_to "Edit", edit_deadline_path(deadline), class:"button" %></td>
      </tr>
    <% end %>
  <% end %>
  
  <% if user_signed_in? %>
    <%= link_to "Create Deadlines", deadlines_create_path, class:"small-button button-blue" %><br>
  <% end %>
  </table>
</div>
