<div class="padding-right">
<h1>Create New Project</h1>
<%= form_for :project do %>

 <%= label :project, :title, 'Title' %>
 <%= text_field :project, :title %><br>

 <%= label :project, :description, 'Description' %>
 <%= text_field :project, :description %><br>

 <%= label :project, :spec_urls, 'Spec URL' %>
 <%= text_field :project, :spec_urls %><br>

 
  <div><%= submit_tag 'Save' %></div>
<% end %>
</div>