<% if not user_signed_in? %>
<h1>Sign in to see your projects.</h1>
<% else %>
<h1>Your Projects</h1>
<% end %>

<table>
  <tr>
    <th>company</th>
    <th>title</th>
    <th>description</th>
    <th>students</th>
  </tr>

<% if user_signed_in? %> 
  <% current_user.projects.each do |project| %>
    <tr>
      <td>
          <% if project.company %>
              <%= project.company.name %>
          <% end %>
      </td>
      <td><%= project.title %></td>
      <td><%= project.description %></td>
      <td><%= project.students %></td>
    </tr>
  <% end %>
  <% if current_user.projects.empty? %>
    <p>No projects have been assigned to you yet.</p>
  <% end %>
<% end %>

<% if company_signed_in? %>
  <%= link_to "Create Project", projects_create_path %><br />
  <% @projects.each do |project| %>
    <tr>
      <td>
          <% if project.company %>
              <%= project.company.name %>
          <% end %>
      </td>
      <td><%= project.title %></td>
      <td><%= project.description %></td>
      <td><%= project.students %></td>
    </tr>
  <% end %>
<% end %>
</table>
