<div class="padding-right">
<% if user_signed_in? or company_signed_in? %>
  <h1>Your Projects</h1>
<% else %>
  <h1>Sign in to see your projects.</h1>
<% end %>

<table>
  <tr>
    <th>Company</th>
    <th>Title</th>
    <th>Description</th>
    <th>Spec URLs</th>
    <th>Project ID</th>
    <th>Students</th>
    <th>Approval</th>
  </tr>

<% if user_signed_in? %> 
  <% current_user.projects.each do |project| %>
    <tr>
      <td>
          <% if project.company %>
              <%= project.company.name %>
          <% end %>
      </td>
      <td><%= project.title %></td>
      <td><%= project.description %></td>
      <td><%= project.spec_urls %></td>
      <td><%= project.proj_id %></td>
      <td><%= project.students %></td>
      <td><%= project.approved %></td>
    </tr>
  <% end %>
  <% if current_user.projects.empty? %>
    <p>No projects have been assigned to you yet.</p>
  <% end %>
<% end %>

<% if company_signed_in? %>
  <%= link_to "Create Project", projects_create_path %><br>
  <% current_company.projects.each do |project| %>
    <tr>
      <td>
          <% if project.company %>
              <%= project.company.email %>
          <% end %>
      </td>
      <td><%= project.title %></td>
      <td><%= project.description %></td>
      <td><%= project.spec_urls %></td>
      <td><%= project.proj_id %></td>
      <td><%= project.students %></td>
      <td>
        <% if project.approved %>
          Approved.
        <% else %>
          <%= button_to [:approve, project] do %>
            Approve
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
<% end %>
</table>
</div>