<div class="padding-right">
<% if user_signed_in? or company_signed_in? %>
  <h1>Your Projects</h1>
<% else %>
  <h1>Sign in to see your projects.</h1>
<% end %>

<table>
  <tr>
    <th>Company</th>
    <th>Title</th>
    <th>Description</th>
    <th>Spec URLs</th>
    <th>Students</th>
    <th>Approval</th>
  </tr>

<% if user_signed_in? %> 
  <% if current_user.try(:admin?) %>
    <% @projects.each do |project| %>
      <tr>
        <td>
            <% if project.company %>
                <%= project.company.name %>
            <% end %>
        </td>
        <td><%= link_to project.title, project_path(project) %></td>
        <td><%= project.description %></td>
        <td><%= project.spec_urls %></td>
        <td><%= project.students %></td>
        <td>
          <% if project.approved %>
            <span class="success-color">Approved</span>
          <% else %>
            <%= button_to [:approve, project] do %>
              Approve
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>
  <% current_user.projects.each do |project| %>
    <tr>
      <td>
          <% if project.company %>
              <%= project.company.name %>
          <% end %>
      </td>
      <td><%= link_to project.title, project_path(project) %></td>
      <td><%= project.description %></td>
      <td><%= project.spec_urls %></td>
      <td><%= project.students %></td>
      <td><%= project.approved %></td>
    </tr>
  <% end %>
  <% if current_user.projects.empty? %>
    <p>No projects have been assigned to you yet.</p>
  <% end %>
<% end %>

<% if company_signed_in? %>
  <%= link_to "Create Project", projects_create_path %><br>
  <% current_company.projects.each do |project| %>
    <tr>
      <td>
          <% if project.company %>
              <%= project.company.email %>
          <% end %>
      </td>
      <td><%= link_to project.title, project_path(project) %></td>
      <td><%= project.description %></td>
      <td><%= project.spec_urls %></td>
      <td><%= project.students %></td>
      <td>
        <% if project.approved %>
          <span class="success-color">Approved</span>
        <% else %>
          <% if current_user.try(:admin?) %>
            <%= button_to [:approve, project] do %>
              Approve
            <% end %>
          <% else %>
            <span class="warning-color">Pending</span>
          <% end %>
        <% end %>
      </td>
      <td><%= link_to "Edit", edit_project_path(project), class:"button" %></td>
    </tr>
  <% end %>
<% end %>
</table>
</div>