<div class="padding-right">
<h1>Project: <%= @project.title %></h1>

<h3>Description</h3>
<div><%= @project.description %></div>

<h3>Spec URL</h3>
<div><%= @project.spec_urls %></div>

<% if current_user.try(:admin?) %>
    <h3>Add Students</h3>
    <table>
    <tr>
        <th>email</th>
        <th>status</th>
    </tr>
    <% User.all.each do |user| %>
        <tr>
            <td><%= user.email %></td>
            <td>
            <% if @project.users.where(id: user[:id]).exists? %>
                <span class="success-color">Assigned</span>
            <% else %>
                <%= button_to [:assign, @project, user] do %>
                    Add
                <% end %>
            <% end %>
            </td>
        </tr>
    <% end %>
    </table>
<% end %>

</div>