
<div class="padding-right">
<% if user_signed_in? or company_signed_in? %>
  <h1>Dashboard</h1>
<% else %>
  <h1>Sign in to see your dashboard.</h1>
<% end %>


<% if user_signed_in? %> 
  <% if current_user.try(:admin?) %>
    <div class="col-md-12">
        <div class="content table-responsive table-full-width">
            <table class="table table-hover">
                <tbody>
                    <tr>
                    	<td><%= link_to "Create Project", projects_create_path %><br></td>
                    </tr>
                    <tr>
                    	<td><%= link_to "Show All Projects", projects_path %><br></td>
                    </tr>
                    <tr>
                    	<td><%= link_to "Show All Users", users_path %><br</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  <% end %>
  <div class="col-md-12">
        <div class="content table-responsive table-full-width">
            <table class="table table-hover">
                <tbody>
                    <tr>
                    	<td><%= link_to "Show My Projects", projects_path %><br></td>
                    </tr>
                    <tr>
                    	<td><%= link_to "Show My Deadlines", deadlines_path %><br></td>
                    </tr>
                    <tr>
                    	<td><%= link_to "Message Board", forums_path %><br></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
<% end %>


<% if company_signed_in? %>
  <div class="col-md-12">
        <div class="content table-responsive table-full-width">
            <table class="table table-hover">
                <tbody>
                    <tr>
                    	<td><%= link_to "Create Project", projects_create_path %><br></td>
                    </tr>
                    <tr>
                    	<td><%= link_to "Show All Projects", projects_path %><br></td>
                    </tr>
                    <tr>
                    	<td><%= link_to "Message Board", forums_path %><br></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
<% end %>