<h1>Home</h1>
<p>
  For more information:
  If you are a 
  <%= link_to "client", info_client_path, class: "page-link"%>,
  if you are a
  <%= link_to "mentor", info_mentor_path, class: "page-link"%>,
  if you are a 
  <%= link_to "student", info_student_path, class: "page-link"%>.
  If you want to look at some of our past
  <%= link_to "projects", info_projects_path, class: "page-link"%>,
  or would like to know more about 
  <%= link_to "who we are", info_about_path, class: "page-link"%>.
</p>
