		<header>
			
				<div class="row-fluid">
					<!-- used to have a nav and a container class. Keep that in mind -->
				    <div class="col-md-2">
				   		<div class="logo-holder" style="padding:0; left:5px;"></div>
				    </div>
					<div class="col-md-10" style=" padding-left:40%; padding-top:0; margin-left:0;">
						
							<ul class="clearfix" style="color:#ffffe6;">
							  <!--<% if user_signed_in? or company_signed_in? %>
							    <li><%= link_to "Projects", projects_path, class: "page-link"%></li>
							    <li class="dot">.</li>
							    <li><%= link_to "Dashboard", info_dashboard_path, class: "page-link"%></li>
                			  <%else%>-->

								<li class="light-header" style="color:#ffffe6;"> <%= link_to "Home", root_path, class: "page-link"%></li>
                			    <li class="light-header" style="color:#ffffe6;"> <%= link_to "About Us", info_about_path, class: "page-link"%></li>
								<li class="light-header" style="color:#ffffe6;"> <%= link_to "Contact", new_contact_path, class: "page-link"%></li>
								<li class="light-header" style="color:#ffffe6;"> <%= link_to "Donate", new_contact_path, class: "page-link"%></li>
                			  <!--<% end %>
                			  <% if user_signed_in? %>
                  				<li><%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "page-link" %></li>
                  				<li class="dot">.</li>
                  				<li><%= link_to "Deadlines", deadlines_path,  class: "page-link r_spacer2" %></li>
                			  <% elsif company_signed_in? %>
                			  	<li><%= link_to "Log Out", destroy_company_session_path, method: :delete, class: "page-link" %></li>
                                <li class="dot">.</li>
								<li><%= link_to "Home Page", root_path, class: "page-link r_spacer2" %></li>
                			  <% else %>
                  				<li><%= link_to "Sign In", new_user_session_path, class: "page-link" %></li>
                  				<li class="dot">.</li>
                  				<li><%= link_to "Sign Up", new_user_registration_path, class: "page-link r_spacer" %></li>
							  <% end %>-->
							</ul>
						</div>
					</div>
			  </div>
		</div>
		</header>